:root{
    --font: "Amasis MT Std";
    --background: beige;
}

/* Font Initilizing - including different formats for different systems */
@font-face {
    font-family:'Amasis MT Std';
    src: url('../Assets/Fonts/AmasisMTStd-Black.eot');
    src: url('../Assets/Fonts/AmasisMTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../Assets/Fonts/AmasisMTStd-Black.woff2') format('woff2'),
        url('../Assets/Fonts/AmasisMTStd-Black.woff') format('woff'),
        url('../Assets/Fonts/AmasisMTStd-Black.ttf') format('truetype'),
        url('../Assets/Fonts/AmasisMTStd-Black.svg#AmasisMTStd-Black') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body{
    
    background-color: #A8A5A4;
    font-family: "Amasis MT Std";
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.btnPlaceholder{
    appearance: button;
    background-color: #ff9900;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: black;
    font-family: var(--font);
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    position: absolute;

    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    top: 400px;
}
.mainRow {
    background-color: var(--background);
    display: flex;
}
.mainRow .column {
    flex: 33.33%;
    padding: 5px;
}

.socialsRow .column {
    flex: 33.33%;
    padding: 5px;
    
}
.card {
    width: fit-content;
    height: fit-content;
    background-color: var(--background);
    display: flex;
    
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }

  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }

  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }

  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }

  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.socialButton{
  float: left;
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px 40px;
  font-size: 18px;
  background-color: #ff9900;
  color: #fff;
  text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: unset;
  padding: .8rem 1.5rem;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.7s cubic-bezier(0,.8,.26,.99);
  width: 320px;
  top: 5px;
}
.socialButton:before{
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  transition: .7s cubic-bezier(0,.8,.26,.99);
  z-index: -1;
  background-color: #ff9900!important;
  box-shadow: 0 -4px rgb(21 108 0 / 50%) inset, 0 4px rgb(100 253 31 / 99%) inset, -4px 0 rgb(100 253 31 / 50%) inset, 4px 0 rgb(21 108 0 / 50%) inset;
}
.socialButton:after {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  transition: .7s cubic-bezier(0,.8,.26,.99);
}
.socialButton:hover:before {
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
}
 
.socialButton:hover:after {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
}
 
.socialButton:active {
  transform: translateY(4px);
}
 
.socialButton:active:after {
  box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
}

