:root{
    --font: "Amasis MT Std";
}

/* Font Initilizing - including different formats for different systems */
@font-face {
    font-family:'Amasis MT Std';
    src: url('../Assets/Fonts/AmasisMTStd-Black.eot');
    src: url('../Assets/Fonts/AmasisMTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../Assets/Fonts/AmasisMTStd-Black.woff2') format('woff2'),
        url('../Assets/Fonts/AmasisMTStd-Black.woff') format('woff'),
        url('../Assets/Fonts/AmasisMTStd-Black.ttf') format('truetype'),
        url('../Assets/Fonts/AmasisMTStd-Black.svg#AmasisMTStd-Black') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*{
    
    background-color: #A8A5A4;
    font-family: "Amasis MT Std";
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
main{
    display: grid;
    background-color: beige;
    margin-left: auto;
}

.introImg{
    margin-top: auto;
    display: grid;
    scale: 100%;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    
}


.btnPlaceholder{
    appearance: button;
    background-color: #ff9900;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: black;
    font-family: var(--font);
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    position: absolute;

    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    top: 400px;
}
.slideshow{
    position: absolute;
    margin-left: auto;
    
   
}
.content{
    margin: auto;
    width: 150px;
    perspective: 1000px;
    position:relative;
    padding-top: 80px;
    transform-style: preserve-3d;
  }
.slider-content{
    width: 100%;
    position:absolute;
    float:right;
    animation: rotate 15s infinite linear;
    transform-style: preserve-3d;
}
.slider-content:hover{
    cursor: pointer;
    animation-play-state: paused;
}
  
.slider-content figure{
    width:180px;
    height:120px;
    border:1px solid #555;
    overflow:hidden;
    position:absolute;
}
.slider-content figure:nth-child(1){
    transform:rotateY(0deg) translateZ(300px);
}
  
.slider-content figure:nth-child(2){
    transform:rotateY(40deg) translateZ(300px);
}
.slider-content figure:nth-child(3){
    transform:rotateY(80deg) translateZ(300px);
}
.slider-content figure:nth-child(4){
    transform:rotateY(120deg) translateZ(300px);
}
.slider-content figure:nth-child(5){
    transform:rotateY(160deg) translateZ(300px);
}
.slider-content figure:nth-child(6){
    transform:rotateY(200deg) translateZ(300px);
}
.slider-content figure:nth-child(7){
    transform:rotateY(240deg) translateZ(300px);
}
.slider-content figure:nth-child(8){
    transform:rotateY(280deg) translateZ(300px);
}
.slider-content figure:nth-child(9){
    transform:rotateY(320deg) translateZ(300px);
}
  
.shadow{
    position: absolute;
    box-shadow: 0px 0px 0px #000;
   
}
.slider-content img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}
.slider-content img:hover{
    transform: scale(1.2);
    transition: all 300ms;
   
}
  
@keyframes rotate {
    from{
      transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}