*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --accent-color: #fff;
  --gradient-color: #FBFBFB;
  --background: beige;
  --bodybackground: #B5B5B5;
  --font: "Montserrat";
}

@media(max-width: 1920px) {
  /* Hiding Mobile Elements */
  .mobileImg, .locationBtn1,.serviceBtn1,.shopBtn1,.contactBtn1,.mobilemap{
    display: none;
    
  }

  .Home{
    position: relative;
    height: auto;
    width: auto;
    scroll-snap-align: start;
  }
  
  .scrollSnapY{
    scroll-snap-type: y mandatory;
  }
  body{
    background-color: var(--bodybackground);
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* Beginning of Navbar */

  #navbar{
    position: relative;
    text-align: left;
    overflow: hidden;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 65%, rgba(255,0,0,1) 100%);
    font-size: 30px;
    
    
  }
  
  
  #navbar #logo{
    position: relative;
    opacity: 1;
    
    padding: 5px;
    float: left;
    color: #C20D0D;
    text-decoration: underline;
  }
  #navbar #logo2{
    position: absolute;
    opacity: 0;
    padding: 5px;
    float: left;
    color: #C20D0D;
    text-decoration: underline;
    left: 0px;
  }
  #navbar #logo:hover{
    opacity: 0;
  }
  #navbar #logo2:hover{
    opacity: 1;
  }
  #navbar .navbarButton{
    position: relative;
    top: 15px;
    float: left;
    display: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  #navbarButton:hover {
    color: #C20D0D;
  }

  /* End of Navbar */

  main{
    flex-grow: 1;
  }
  .container{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
    
  }
 
  .container2{
    flex: 50%;
    margin-right: 15px;
  }
  .mainPhoto{
    position: relative;
    height: 727px;
    
    flex:50%;
    top: -6px;
    margin-right: 15px;
    
    box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
    
  }
  .grid-container{
    position: relative;
    top: -6px;
    
    height: auto;
    
  }
  .grid-container .images{
    position: relative;
    top: 35px;
    left: -5px;
    display: flex;
    margin-left: 10px;
    
  }
  .grid-container .image{
    position: relative;
    width: auto;
    box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
    
    margin-left: 15px;
  }
  .intro-desc{
    background:white;
    font-size: 23px;
    margin-left: 20px;
    height:442px;
    box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
  }
  .column1{
    position: relative;
    /* box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;*/
  
    height: auto;
    flex: 50%;
    
    
  }
  .column2{
    height: auto;
    flex: 50%;
    left: 4px;
  }
 
  

  /* Beginning of location section */

  .Location{
    position: relative;
    height: auto;
    width: auto;
    margin-top: 400px;
    bottom: 200px;
  }

  .desktopmap{
    position: relative;
    
    margin-left: 20px;
    box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
  }

  .mainLocationContainer{
    display:flex;
  
  }
  .mapContainer{
    flex: 50%;
  }
  .aboutUsContainer{
    
    flex: 50%;
    margin-right: 15px;
    
  }
  .aboutUs{
    background-color: white;
    display: inline-block;
    box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
    height: auto;
    
  }
  
  .aboutusContainer2{
    margin-top: 25px;
    background-color: white;
    display: flex;
    box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
    height: 75px;
    text-align: center;
  }
  
  .socialIconsContainer{
    flex: 50%;
    position: relative;
    top: 20px;
  }
  .socialDetailsContainer{
    flex: 50%;
    position: relative;
    top: 15px;
  }
  .locationIcon{
    scale: 180%;
    padding: 10px;
    color: black;
  }
  .locationIcon:hover{
    color: red;
  }

  .desctime{
    display: flex;
    flex-direction: row;
  }
  
  .openingTimes{
    text-align: center;
    height: auto;
    box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
    background: white;
    margin-right: 25px;
    width: 425px;
  }

  /* End of Location Section */
  
  /* Beginning of Service section */
  
  .servicesContainer{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .contact-form{
    display: flex;
    flex: 50%;
    flex-direction: column;
    font-size: 28.8px;
  }
  .UserInputDetails{
    background-color: white;
    box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
    flex: 50%;
    display: flex;
    margin-left: 20px;
    width: 900px;
    
  }
  .userMessage{
    position: relative;
    background-color: white;
    box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
    flex: 50%;
    margin-top: 10px;
    left: 20px;
    height: 500px;
    width: 900px;
    justify-content: center;
  }
  .message{
    width: 700px;
    height: 400px;
    resize: none;
    font-size: 28.8px;
    margin-left:95px;
  }
  .nameEmail{
    flex: 50%;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .serviceDate{
    flex: 50%;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .titleMessage{
    margin-left: 400px;
  }

  .counter{
    margin-left: 400px;
  }

  .serviceImages{
    position: relative;
    display: flex;
    text-align: center;
    
  }

  .serviceImages .imageDesc{
    background: white;
    
    display: block;
  }

  .serviceImages .serviceImage{
    position: relative;
    
  }

  .serviceimageFlex1{
    flex: 50%
  }
  
  .serviceimageFlex2{
    flex: 50%;
  }
  .imageContainer{
    display: block;
    box-shadow: 5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
    top: 100px;
    width: 273px;
  }
  .imagecontainer2{
    position: relative;
    top: 25px
  }
  .submitButton{
    position: relative;
    float: right;
    left: 908px;
    bottom: 80px;
    width: 908px;
    height: 80px;
    background-color: white;
    box-shadow: 5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
    border: none;
    color: black;
    cursor: pointer;
    text-align: center;
    z-index:99999999999!important;
    font-size: 25px;
  }
  .socialsemail{
    font-size: 25px;
    color: black;
  }
  .socialsemail:hover{
    color:red;
  }
  

  /* End of Service section */

  /* Beginning of Footer */

  .footer-container{
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 65%, rgba(255,0,0,1) 100%);
    height: 100%;
    overflow: auto;
    margin-top: 15px;
  }
 
  .socials-container{
    font-size: 35px;
  }
  .socials-container a{
    color: white;
  }
  .links-container a{
    color: white;
  }
  .socials-container a:hover{
    color: #C20D0D;
  }
  .links-container a:hover{
    color: #C20D0D;
  }
  .copyrightText{
    color: white;
  }
  
  /* End of Footer */
}
@media (min-width: 2560px) and (max-width: 2560px){
  .grid-container .images{
    position: relative;
    top: 139px;
  }

}
@media screen and (max-width: 481px){
  .Home{
    position: relative;
    height: auto;
    width: auto;
    scroll-snap-align: start;
  }
  .Location{
    position: relative;
    height: auto;
    width: auto;
    margin-top: 400px;
    bottom: 200px;
  }
  
  .scrollSnapY{
    scroll-snap-type: y mandatory;
  }
  body{
    background-color: var(--bodybackground);
    font-size: 19px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  #navbar{
    overflow: hidden;
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 65%, rgba(255,0,0,1) 100%);
    font-size: 25px;
    width: 439px;
    height: 75px;
    
  }
  #navbar #initialLetter{
    font-size: 45px;
  }
  
  #navbar #logo{
    font-size: 40px;
    padding: 5px;
    float: left;
    color: #C20D0D;
    text-decoration: underline;
  
  }
  #navbar .mobileImg{
    display: block;
    position: absolute;
    scale: 35%;
    left: 20px;
    top: -65px;
  }
  /* links */
  #navbar a{
    float: left;
    display: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    
  }
  /* Code Below Hides Desktop Elements */
  #navbar .locationBtn, #navbar .serviceBtn, #navbar .shopBtn,#navbar .contactBtn,#navbar .desktopImg, .image, .desktopmap{
    display: none;
  }
  .mobileImg, .locationBtn1,.serviceBtn1,.shopBtn1,.contactBtn1,.mobilemap{
    display: block;
    
  }

  
  /* for Mobile Element positioning */
  .locationBtn1{
    position: absolute;
    scale: 150%;
    left: 25px
    
  }
  .serviceBtn1{
    position: absolute;
    scale: 150%;
    left: 50px;
    
    

  }
  .shopBtn1{
    position: absolute;
    scale: 150%;
    left: 275px;
    
  }
  .contactBtn1{
    position: absolute;
    scale: 190%;
    left: 150px;
    top: 10px;
   
  }
  #navbarButton:hover {
    color: #C20D0D;
   
  }
  main{
    flex-grow: 1;
  }
  .container{
    
    flex-direction: column;
    position: relative;
    top: 30px;
    margin-right: 15px;
    
  }
  .container2{
    
    margin-right: 15px;
  }
  
  .mainPhoto{
    
    position: relative;
    height: 10px;
    scale: 95%;
    top: -600px;
    left: 9px;
    box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
  }
  .grid-container{
    position: relative;
    top: -6px;
    height: auto;
    
    
  }


  .intro-desc{
    position: relative;
    background:white;
    font-size: 25px;
    top: 310px;
    box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
    height: 620px;
  }
  .column1{
    position: relative;
    /* box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;*/
  
    height: auto;
    flex: 50%;
  }
  .column2{
    height: auto;
    flex: 50%;
    left: 4px;
  }
  .footer-container{
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 65%, rgba(255,0,0,1) 100%);
    height: 100%;
  
    overflow: auto;
  }
  
  
  .mobilemap{
    position: relative;
    left: 20px;
    box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
  }
  
  .socials-container{
    font-size: 35px;
  }
  .socials-container a{
    color: white;
  }
  .links-container a{
    color: white;
  }
  .socials-container a:hover{
    color: #C20D0D;
  }
  .links-container a:hover{
    color: #C20D0D;
  }
  .copyrightText{
    color: white;
  }
  .mainLocationContainer{
    display:flex;
    flex-direction: column;
  
  }
  .mapContainer{
    display: flex;
    flex-direction: column;
  }
  .aboutUsContainer{
    
    
    margin-right: 15px;
    
  }
  .aboutUs{
    position: relative;
    top: 150px;
    background-color: white;
    
    display: inline-block;
    box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
    width: 390px;
    left: 20px;
    height: 900px;
  }
  .aboutusContainer2{
    position: relative;
    top: -900px;
    
    background-color: white;
    display: flex;
    box-shadow:5px 4px 0 2px  #C20D0D, 6px 5px 5px 4px black;
    height: 75px;
    text-align: center;
    width: 390px;
    left: 20px;
  }
  .socialIconsContainer{
    flex: 50%;
    position: relative;
    top: 20px;
  }
  .socialDetailsContainer{
    flex: 50%;
    position: relative;
    top: 15px;
  }
  .locationIcon{
    scale: 180%;
    padding: 10px;
  }
  .UserInputDetails{
    background-color: white;
    display: flex;
    
    float: left;
  }
  .nameEmail{
    float: left;
    flex:50%;
  }
  .serviceDate{
    flex:50%;
  }
}