body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: rgb(2,0,36);
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 65%, rgba(255,0,0,1) 100%);
  color: white;
  padding: 1rem;
  text-align: center;
}

.search-container {
  position: relative;
  display: inline-block;
  width: 80%;
  max-width: 500px;
  margin-top: 1rem;
}

header input {
  padding: 0.5rem;
  width: 100%;
  padding-right: 2.5rem; /* Space for the clear button */
}

#clear-btn {
  position: absolute;
  top: 50%;
  right: -3rem;
  transform: translateY(-50%);
  border: 1px black solid;
  background: none;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
}
#clear-btn:hover{
  box-shadow: 2px 2px 5px px rgba(0, 0, 0, 0.5);
}

.cart-container {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  left: 630px;
}

#cart-btn {
  
  position: relative;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.cart {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  width: 300px;
  padding: 1rem;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.cart h2 {
  margin-top: 0;
}

.cart ul {
  list-style-type: none;
  padding: 0;
}

.cart ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.cart ul li button {
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}

main {
  padding: 2rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  justify-content: center;
}

.product {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  cursor: pointer;
}

.product img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.product h2 {
  margin: 0.5rem 0;
}

.add-to-cart-btn {
  position: relative;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
  text-align: center;
}

.modal-content img {
  max-width: 100%;
  height: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modal-add-to-cart-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 481px){
  .cart-container {
    position: relative;
    display: inline-block;
    margin-top: 1rem;
    right: 10px;
  }
}